.img-header
{
    width: 30%;
}

.img-header img
{
    margin-top: 70px;
}

.mid-banner
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-mid
{
   align-self: center;
   
}

.text-curriculum
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.num-curriculum
{
    width: 20%;
}

.desc-curriculum
{
    width: 80%;
}